/* Global Styles */
/* ------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Quicksand:wght@300..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    font-size: 1.1rem;
    font-family: "Quicksand", sans-serif;

}

html {
    scroll-behavior: smooth;
    
}
.row{

    display: flex;  

}

body{
    overflow:scroll;
}

/* Post Section Styling */
/* ------------------------------- */
.all-divs{
    display: flex;
    border: 3px solid black;
    border-right: none;
    padding: 2rem 0rem 2rem 8rem;
    
}

/* Button Styling */
/* ------------------------------- */
.Buttons {
    border-bottom: 1px solid rgb(146, 142, 142);
    display: flex;
    justify-content: first baseline;
    height: 10%;
    width: 100%;
    align-items: center;
    gap: 12px;
    
    
}
 .Buttons button { 
    border: none;
    padding: 10px 10px;
    font: bold  Arial, serif;
    font-weight: 700;
    cursor: pointer;
    font-size: .9rem;  
} 


/* Left Sidebar Styling */
/* ------------------------------- */

.SideBar {
    border-right: 1px solid rgb(146, 142, 142);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    
    
    
}
.Logo{
    padding: 20px;
    

}
.Logo h1{
    font-family: "Dancing Script", cursive;
    background: linear-gradient(to right, #b60799, #200f80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.SideBar ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.SideBar a {
    
    font-weight: 600;
    text-decoration: none;
    margin: 10px 0;

}

/* Right Sidebar Styling */
/* ------------------------------- */
.SideBar2 {
    
    display: flex;
    justify-content: center;
    
}

.SearchBar form{
    
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 1rem;

}
.acounts{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;
    
}
.acounts h2{
    font-size: 1rem;
    font-weight: 600;
    color: rgb(140, 131, 131);
}

.user-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
    border: #200f80 1px solid;
    border-radius: 20px;
    
}
.user{
    display:flex;
    justify-content: center;

}
.user img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}
.user h3{
    font-size: .9rem;
    font-weight: 600;
    color: white;
    margin-top: 10px;
    padding: 0 10px;
}
