/* Global Styles */
/* ------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Quicksand:wght@300..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    font-size: 1.1rem;
    font-family: "Quicksand", sans-serif;

}
html {
    scroll-behavior: smooth;
}

.row{

    display: flex;
    height: 100vh;
    
    

}
/* Post Section Styling */
/* ------------------------------- */
.Posts {
    display: flex;
    border: 3px solid black;
    border-right: none;
    
    
}

/* Button Styling */
/* ------------------------------- */
.Buttons {
    border-bottom: 1px solid rgb(146, 142, 142);
    display: flex;
    justify-content: first baseline;
    height: 10%;
    width: 100%;
    align-items: center;
    gap: 1rem;
    
}

 .Buttons button { 
    border: none;
    padding: 10px 20px;
    font: bold  Arial, serif;
    font-weight: 700;
    cursor: pointer;

    
    
    
} 


/* Left Sidebar Styling */
/* ------------------------------- */

.SideBar {
    border-right: 1px solid rgb(146, 142, 142);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    
    
    
}
.Logo{
    padding: 20px;
    

}
.Logo h1{
    font-family: "Dancing Script", cursive;
    background: linear-gradient(to right, #b60799, #200f80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.SideBar ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.SideBar a {
    
    font-weight: 600;
    text-decoration: none;
    margin: 10px 0;

}

/* Right Sidebar Styling */
/* ------------------------------- */
.SideBar2 {
    border-left: 1px solid rgb(146, 142, 142);
    display: flex;
    
    
}

.SearchBar form{
    border-bottom: 1px solid rgb(146, 142, 142);
    display: flex;
    justify-content: space-between;
    padding: 20px;

}
